.menuItem {
  cursor: pointer;
  font-size: 1.25rem;
  border: solid 1px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  letter-spacing: .1rem;
}

.menuItem:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  letter-spacing: .5rem;
  border: solid 1px;
  animation-name: menu-item-anim;
  animation-duration: .5s;
}

@keyframes menu-item-anim {
  from {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    letter-spacing: .1rem;
  }
  to {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    letter-spacing: .5rem;
  }
}
