.container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  text-align: center;
}

.el4 {
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
}

.el1 {
  grid-column: 13 / span 5;
  grid-row: 6 / span 5;
  font-size: 2em;
  background-color: rgba(110, 125, 255, 0.562);
}

.el2 {
  grid-column: 15 / span 5;
  grid-row: 1 / span 5;
  font-size: 1.5em;
  background-color: rgba(255, 253, 117, 0.575);
}

.el3 {
  grid-column: 12 / span 3;
  grid-row: 3 / span 3;
  font-size: 1.25em;
  background-color: rgba(255, 126, 126, 0.479);
}

.background {
  background-color: rgb(167, 167, 167);
}
